.name-and-pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  margin-top: 5%;
  width: 25%;

  div:nth-of-type(2) {
    text-align: left;
  }
}

.update-btn {
  z-index: 5;
}

.update-profile-btn {
  width: 100%;
  margin: 0 !important;
}

.profile-heading {
  border-bottom: 1px solid white;
}

.posts-and-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 70%;
  margin-top: 5%;
}

.profile-content-div {
  margin-top: 5%;
  width: 100%;
}

.profile-info {
  p {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .btn {
    margin-top: 25px;
  }
}

.profile-block {
  display: flex;
  div:nth-of-type(1) {
    min-width: 175px;
  }
  div:nth-of-type(2) {
    p {
      font-size: 1rem;
    }
  }
}

.profile-pic-div {
  width: 150px;
  height: 150px;
  img {
    width: 100%;
  }
}

.posts-div,
.comments-div {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;

  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-blue;
    border-radius: 5px;
  }
}

.card {
  width: 100%;
  height: 200px;

  .card-content {
    display: flex;
    flex-direction: column;

    div:nth-of-type(1) {
      text-align: center;
    }
    .card-details {
      display: flex;

      div:nth-of-type(1) {
        max-width: 23%;
        border-right: 1px solid white;
        margin-right: 10px;
      }
      div:nth-of-type(2) {
        display: flex;
        align-items: center;
        width: 75%;
      }
    }
  }
}

#comments-tab-div,
.posts-tabs-div {
  height: 100%;
}

// .comments-div {
//   height: 225px;
//   overflow: scroll;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   &::-webkit-scrollbar {
//     background-color: transparent;
//   }
//   &::-webkit-scrollbar-corner {
//     background-color: transparent;
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: $light-blue;
//     border-radius: 5px;
//   }
//   // .card-content {
//   //   display: flex;
//   //   justify-content: space-between;

//   //   div:nth-of-type(1) {
//   //     width: 23%;
//   //     border-right: 1px solid white;
//   //     margin-right: 10px;
//   //   }
//   //   div:nth-of-type(2) {
//   //     display: flex;
//   //     align-items: center;
//   //     width: 60%;
//   //   }
//   //   div:nth-of-type(3) {
//   //     display: flex;
//   //     flex-direction: column;
//   //     align-items: center;
//   //   }
//   // }
//   // .card {
//   //   width: 100%;
//   // }
// }

#tabs-row {
  height: auto;
  width: 100%;
}

.tab {
  border-left: 1px solid white;
  border-top: 1px solid white;
  a {
    color: white !important;
    padding-left: 10px !important;
  }
}

#posts-tab,
#comments-tab {
  height: 100%;
}

#comment-modal {
  width: 100%;
}

#profile-comments {
  width: 75%;
}

.profile-comment-title {
  border-bottom: 1px solid white;
}
